.AdminView {

    .AdminDashButtons {
        justify-content: center;
    }

    h2 {
        margin-top: 0px;
    }

    .AdminScreensHolder {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        align-items: flex-start;
    }

    .Bubble {
        width: 650px;
        padding: 20px 2px 20px 2px;

    }
}