.TimeView {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .Bubble > * {
        padding-left: 20px;
        padding-right: 20px;
    }

    .HideUserToggle {
        justify-content: center;
        gap: 10px;
    }

    .ant-table-wrapper {
        width: 100%;
        padding: 0px 20px 20px 20px;
        background-color: whitesmoke;

        .ant-table-thead {
            .ant-table-cell {
                // padding: 4px;
            }
        }

        .ant-table-cell {
           //  padding: 0px;
        }

        .EmailCell {
            width: 120px;
            // height: 100%;
            // min-height: 55px;
            text-align: left;
            // padding: 5px;
            color: blue;
            &:hover {
                cursor: pointer;
            }
        }

        .DateCell {
            width: 80px;
            // height: 100%;
            text-align: center;
            padding: 5px;
        }
    
        .LastTime {
            background-color: rgba(255, 255, 0, 0.3);
            border: 1px solid yellow;
        }
    
        .Regular {
            background-color: rgba(0, 128, 0, 0.3);
            border: 1px solid green;
        }
    
        .NoRecord {
            background-color: rgb(255, 214, 214);
            border: 1px solid red;
        }
    }

    
}