.AddRecord {
    opacity: 1;

    // .MeasurementPeriodContainer {
    //     border: 1px solid black;
    //     border-radius: 8px;
    // }

    .AddActivitySelect {
        border: 3px solid darkgreen;
    }


    .ant-select {
        height: fit-content;

        .ant-select-selection-item {
            text-wrap: wrap;
        }
    }

    .ant-select-dropdown {
        text-wrap: wrap;
    }

    .LeavingPromptAndButton {
        justify-content: center;
        gap: 10px;
    }
}

.ant-input-number-group-wrapper, .ant-select, .ant-input, .ant-picker, .ant-color-picker-trigger, .ant-input-affix-wrapper {
    max-width: 400px;
    width: 80%;
    border: 1px solid black;
    border-radius: 8px;
}

// Handle error designs
.ErrorForm {
    border: 1px solid red;
    
}

.ModalBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    max-width: 600px;

    p {
        width: 80%;
        text-align: left;
    }
}

.DateModal {
    .ModalButtons {
        flex-direction: column;
        align-items: center;
    }
}