.AddRecord {
    opacity: 1;

    // .MeasurementPeriodContainer {
    //     border: 1px solid black;
    //     border-radius: 8px;
    // }



    .ant-select {
        height: fit-content;

        .ant-select-selection-item {
            text-wrap: wrap;
        }
    }

    .ant-select-dropdown {
        text-wrap: wrap;
    }
}

.ant-input-number-group-wrapper, .ant-select, .ant-input, .ant-picker, .ant-color-picker-trigger, .ant-input-affix-wrapper {
    max-width: 400px;
    width: 80%;
    border: 1px solid black;
    border-radius: 8px;
}

// Handle error designs
.ErrorForm {
    border: 1px solid red;
    
}